<!-- Menú de navegación superior que contiene el logotipo y el botón de alternar la barra lateral -->
<nav class="navbar navbar-expand-lg navbar-transparent">
  <div class="container-fluid">
    <div class="navbar-header">
      <!-- Botón para alternar la barra lateral -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Logotipo de la aplicación con estilo de fuente personalizado -->
      <a class="navbar-brand" href="#" style="font-size: 50px; text-transform: uppercase;">Flight</a>
      <img src="../../assets/img/logotipo-upds-azul.png" alt="" width="300" height="80">

    </div>
  </div>
</nav>
