<div class="sidebar-wrapper">
  <div class="logo">
    <a class="simple-text">
      <div class="logo-img">
        <img src="../../assets/img/descarga.png" alt=""> <!-- Incluye una imagen del logotipo -->
      </div>
      FlightUPDS <!-- Muestra el nombre del sistema -->
    </a>
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a routerLink="home" class="nav-link">
        <i class="ti-star"></i> <!-- Icono de estrella -->
        <p>Inicio</p> <!-- Enlace a la página de inicio -->
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="flights" class="nav-link">
        <i class="ti-search"></i> <!-- Icono de lupa de búsqueda -->
        <p>Vuelos</p> <!-- Enlace a la página de vuelos -->
      </a>
    </li>

    <li class="nav-item">
      <a routerLink="hotels" class="nav-link">
        <i class="ti-home"></i> <!-- Icono de casa -->
        <p>Hoteles</p> <!-- Enlace a la página de hoteles -->
      </a>
    </li>
  </ul>
</div>

